repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-yaml
  - id: check-json
  - id: check-toml
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/floatingpurr/sync_with_poetry
  rev: 1.2.1
  hooks:
  - id: sync_with_poetry
    args:
    - --db=.pre-commit-sync.json
- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.36.0
  hooks:
  - id: check-github-workflows
- repo: https://github.com/mrtazz/checkmake.git
  rev: v0.3.0
  hooks:
  - id: checkmake
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.15.0
  hooks:
  - id: ruff-check
    args: [ --fix ]
  - id: ruff-format
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.19.1
  hooks:
  - id: mypy
- repo: https://github.com/python-poetry/poetry
  rev: 1.8.5
  hooks:
  - id: poetry-check
  - id: poetry-lock
    args:
    - --no-update
